.canevas{
    /*border: 1px solid red;*/
    padding: 0 5%;
}
.inner-canevas{
    /*border: 1px solid black;*/
    margin: 0 1.5%;
    width: 30%;
}
.all-canevas{
    display: flex;
    /*border: 1px solid red;*/
    flex-wrap: wrap;
}

@media screen and (max-width:700px) {
    .all-canevas{
        flex-direction: column;
    }
}