.Que{
    background-color: #FFFFFF;
    border-radius: 5px;
}
.Que h3{
    text-align: center;
    padding-top: 30px;
    margin: 10px;
    

}


.act1 button{
    display: block;
    margin: 0 auto;   
    padding: 5px;
    width: 20%;
    background-color: #000000;
     font-family:'Maven Pro';
     color: white;
     height: 35px;
     border-radius:5px ;
     font-weight: bold;
     
}
.act1 p{
    max-height: 50px;
    overflow: hidden;
    margin-right: 15%;
    margin-top: 50px;
    text-align: justify;
}

.act1{
    margin-left: 8%;
}
.act1,.act2{
    width: 40%;
}
.act2{
    text-align: right;
}
.activite{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:930px){
    .activite{
        display: block;
        
    }
    h1{
        font-size: 30px;
    }
    .act1 button{
        display: none;
    }
    .act2{
        margin: 0 auto;
    }
    .act1{
        margin: 0;
        width: 100%;
    }
    .act1 p{
        text-align: left;
        width: 100%;
    }
    .desc1,.desc2,.act2{
        width: 100%;
    }

    .desc2 img{
        width: 95%;
      }
      .act2 img{
        width: 95%;
      }
    
}

/*@media screen and (max-width:930px){
  


}*/